{% extends "base.html" %}
{% block title %}Russian Tv Channels{% endblock %}
{% block head %}
  
   {{ super() }}

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />



<style>

body {
  background: hsl(120deg, 60%, 50%);
  font-family: sans-serif;
}
body fieldset {
  box-shadow: 0 8px 10px hsl(120deg, 60%, 40%);
}

body.error {
  background: hsl(16deg, 100%, 47%);
}
body.error fieldset {
  box-shadow: 0 8px 10px hsl(16deg, 100%, 37%);
}

h1, h2 {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  top: 24px;
  color: hsl(0deg, 0%, 100%);
  font-size: 12px;
}

h2 {
  top: 44px;
  color: hsl(0deg, 0%, 100%);
  /* font-size: 10px; */
  opacity: 0.7;
}

/* ul.items {
  position: absolute;
  width: 30px;
  height: auto;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
}
ul.items li {
  width: 8px;
  height: 8px;
  margin: 10px 0;
  background: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
} */
ul.items li.active {
  opacity: 1;
}

form {
  position: relative;
  width: 300px;
  height: 60px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form fieldset {
  position: absolute;
  width: 300px;
  height: 60px;
  background: hsl(0deg, 0%, 100%);
  border-radius: 3px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.4s ease-in-out;
}
form fieldset input, form fieldset p {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  color: hsl(0deg, 0%, 20%);
  font-size: 16px;
  letter-spacing: 1px;
}
form fieldset p {
  margin-top: 22px;
  text-align: center;
}
form fieldset input {
  height: 40px;
  margin-top: 8px;
  border: none;
  outline: none;
}
form fieldset .icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  transition: all 0.4s ease;
}
form fieldset .icon i {
  position: absolute;
  display: block;
}
form fieldset .icon i::before, form fieldset .icon i::after {
  position: absolute;
  content: "";
}
form fieldset .icon.left {
  left: 10px;
}
form fieldset .icon.right {
  right: 10px;
  cursor: pointer;
}
form fieldset .icon.button:hover {
  background: hsl(0deg, 0%, 95%);
  border-radius: 3px;
  transition: all 0.4s ease;
}
form fieldset.enable {
  z-index: 1;
  opacity: 1;
  transition: all 0.5s ease-out 0.2s;
  transform: scale(1);
  animation: enable 0.5s ease-out 0.2s;
}
form fieldset.disable {
  opacity: 0;
  transition: all 0.3s ease-in;
  transform: translateY(120px) scale(0.9);
}

body.error fieldset {
  transform-origin: 50% 100%;
  animation: error 0.3s ease-out;
}

@keyframes enable {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes error {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}
/**
 * * Icons in CSS, long as f****
 * */
.icon .arrow {
  width: 2px;
  height: 17px;
  top: 5px;
  left: 14px;
  background: hsl(0deg, 0%, 20%);
}
.icon .arrow::before {
  width: 6px;
  height: 6px;
  bottom: -1px;
  left: -3px;
  border-color: hsl(0deg, 0%, 20%);
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

.icon .user {
  width: 20px;
  height: 10px;
  bottom: 5px;
  left: 5px;
  box-shadow: 0 0 0 2px hsl(0deg, 0%, 20%) inset;
  border-radius: 6px 6px 3px 3px;
}
.icon .user::before {
  width: 10px;
  height: 10px;
  top: -9px;
  left: 5px;
  box-shadow: 0 0 0 2px hsl(0deg, 0%, 20%) inset;
  border-radius: 50%;
}

.icon .letter {
  width: 20px;
  height: 12px;
  top: 9px;
  left: 5px;
  box-shadow: 0 0 0 2px hsl(0deg, 0%, 20%) inset;
  border-radius: 3px;
}
.icon .letter::before, .icon .letter::after {
  width: 11px;
  height: 2px;
  top: 4px;
  background: hsl(0deg, 0%, 20%);
}
.icon .letter::before {
  left: 0;
  transform: rotate(30deg);
}
.icon .letter::after {
  right: 0;
  transform: rotate(-30deg);
}

.icon .lock {
  width: 20px;
  height: 16px;
  top: 9px;
  left: 5px;
  box-shadow: 0 0 0 2px hsl(0deg, 0%, 20%) inset;
  border-radius: 3px;
}
.icon .lock::before {
  width: 8px;
  height: 8px;
  top: -4px;
  left: 4px;
  border: 2px solid transparent;
  border-top: 2px solid hsl(0deg, 0%, 20%);
  border-right: 2px solid hsl(0deg, 0%, 20%);
  border-radius: 50%;
  transform: rotate(-45deg);
}
.icon .lock::after {
  width: 6px;
  height: 7px;
  top: 4px;
  left: 7px;
  box-shadow: 0 0 0 2px hsl(0deg, 0%, 20%) inset;
}

.icon .heart {
  width: 10px;
  height: 10px;
  top: 11px;
  left: 7px;
  background: hsl(9deg, 100%, 60%);
  transform: rotate(45deg);
}
.icon .heart::before, .icon .heart::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: hsl(9deg, 100%, 60%);
}
.icon .heart::before {
  left: -6px;
}
.icon .heart::after {
  top: -6px;
}

/*# sourceMappingURL=output.css.map */
 



footer {
  position: absolute;
  bottom: 0px;
  background: black;
  width: 100%;
  padding: 50px;
  color: #fff;
}



/* updated version */

ul.items {
  position: absolute;
  width: auto;
  height: 29px;
  top: 162%;
  left: -6px;
  transform: translateY(-50%);
  display: inline-flex;
  left: 9px;

}

ul.items li {
  width: 8px;
  height: 8px;
  margin: 10px 0;
    margin-top: 10px;
    margin-right: 0px;
  background: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  margin-top: 9px;
  padding: 6px;
  margin-right: 10px;
}

.form-wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
}

form ul{
  padding-left: 0;
}

.form-control{
  margin-left: 41px;
  margin-top: 10px;
  width: 72%;
}

form fieldset.disable {
  display: none;
}

 
</style>
    

{% endblock %}

{% block content %}
   

<div class="container py-5">

  <div class="row">

      <div class="col-5 center form-wrapper">

        <h2 style="text-align: center;">TIVIRU</h2>
        <h3 style="font-size: 18px; text-align: center; color: bisque;">You can add your content via this form</h3>
   
<form id="upload-file" method="post" enctype="multipart/form-data">
  <ul class="items"></ul>
  <fieldset class="title enable">
    <div class="icon left"><span class="material-symbols-outlined">theaters</span></div>
    <input type="text" name="title" placeholder="title"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="category">
    <div class="icon left"><span class="material-symbols-outlined">featured_play_list</span></div>
    <select name="category" class="custom-select custom-select-lg mb-3 form-control">
      <option value="movies">Movies</option>
      <option selected value="series">Series</option>
      <option value="documentary">Documentary</option>
    </select>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="genres">
    <div class="icon left"><span class="material-symbols-outlined">grid_view</span></div>

    <select name="genres" class="custom-select custom-select-lg mb-3 form-control">
      <option value="comedy">Comedy</option>
      <option value="drama">Drama</option>
      <option selected value="action">Action</option>
      <option value="horror">Horror</option>
      <option value="scifi">Sci-Fi</option>
    </select>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>

  <fieldset class="summary">
    <div class="icon left"><i class="material-symbols-outlined">newspaper</i></div>
    <input type="text" name="genres" placeholder="Summary"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="cast">
    <div class="icon left"><i class="material-symbols-outlined">group</i></div>
    <input type="text" name="cast" placeholder="Cast"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="img">
    <div class="icon left"><i class="material-symbols-outlined">image</i></div>
    <input type="file" name="img" class="img" id="myimg">
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="source">
    <div class="icon left"><i class="material-symbols-outlined">add_link</i></div>
    <input type="text" name="source" placeholder="Source"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="country">
    <div class="icon left"><i class="material-symbols-outlined">flag</i></div>
    <input type="text" name="country" placeholder="Country"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="status">
    <div class="icon left"><i class="material-symbols-outlined">clear_all</i></div>
    <input type="text" name="status" placeholder="Status"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="year">
    <div class="icon left"><i class="material-symbols-outlined">calendar_month</i></div>
    <input type="text" name="year" placeholder="Year"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="main_slider">
    <div class="icon left"><i class="material-symbols-outlined">linear_scale</i></div>
    <input type="text" name="main_slider" placeholder="Main Slider"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>
  <fieldset class="carousel">
    <div class="icon left"><i class="material-symbols-outlined">view_carousel</i></div>
    <input type="text" name="carousel" placeholder="Carousel"/>
    <div class="icon right button material-symbols-outlined">arrow_downward</div>
  </fieldset>




  <fieldset class="thanks">
    <div class="icon left"><i class="heart"></i></div>
    <p>Thanks for your time</p>
    <div class="icon right"><i class="heart"></i></div>
  </fieldset>
</form>




    </div>
    </div>
    </div>


<script>


function formDatas(allDatas){


    const xhr = new XMLHttpRequest()
    xhr.onreadystatechange = function() {

      if (xhr.readyState == 4 && xhr.status == 200) {
        response = JSON.parse(xhr.response)
        
        if(response == "ok"){


          imgUpload();

        }
                             
          
      }

    } // onready state change function

    xhr.open('POST',"{{ url_for('processFormDatas') }}")
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
    xhr.send("title="+allDatas[0]+"&category="+allDatas[1]+"&genres="+allDatas[2]+"&summary="+allDatas[3]+
    "&cast="+allDatas[4]+"&img="+allDatas[5]+"&source="+allDatas[6]+"&country="+allDatas[7]+"&status="+allDatas[8]+
    "&year="+allDatas[9]+"&main_slider="+allDatas[10]+"&carousel="+allDatas[11]+"")
    //xhr.send()


}

function imgUpload(){
  
  var form_data = new FormData($('#upload-file')[0]);
  console.log(form_data);


  const xhr = new XMLHttpRequest()
    xhr.onreadystatechange = function() {

      if (xhr.readyState == 4 && xhr.status == 200) {
        response = JSON.parse(xhr.response)

        console.log("img uploaded")

      }

    } // onready state change function

    xhr.open('POST',"{{ url_for('imgUpload') }}")
    //xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
    xhr.send(form_data)


}


    
/**
 * Surely there's some improvements to make, comments/help always appreciated :3
 */

 function init() {
  // Generate li foreach fieldset
  for (var i = 0; i < count; i++) {
    var ul = document.querySelector('ul.items'),
        li = document.createElement("li");

    ul.appendChild(li);
  }
  // Add class active on first li
  ul.firstChild.classList.add('active');
}

formData = []
ind = 0
function next(target) {
  var input = target.previousElementSibling;

  
  // Check if input is empty
  if (input.value === '') {
    body.classList.add('error');
  } else {
    body.classList.remove('error');
    
    var enable = document.querySelector('form fieldset.enable');
    var nextEnable = enable.nextElementSibling;
    enable.classList.remove('enable');
    enable.classList.add('disable');
    nextEnable.classList.add('enable');


    // Switch active class on left list
    var active = document.querySelector('ul.items li.active'),
        nextActive = active.nextElementSibling;
    active.classList.remove('active');
    nextActive.classList.add('active');


    ind = ind + 1;
    count = form.querySelectorAll('fieldset').length;
    allDatas = [];

    // formData.push(document.querySelector('form fieldset input'))

    if(ind == count - 1){
        
        fieldset = document.querySelectorAll("fieldset") 

        for(var x = 0; x < count-1; x++){

          allDatas.push(fieldset[x].children[1].value)

        }

      formDatas(allDatas)

    }
    
    
  }
}

function keyDown(event) {
  var key = event.keyCode,
      target = document.querySelector('fieldset.enable .button');
  if (key == 13 || key == 9) next(target);
}

var body = document.querySelector('body'),
    form = document.querySelector('form'),
    count = form.querySelectorAll('fieldset').length;

window.onload = init;
document.body.onmouseup = function (event) {
    var target = event.target || event.toElement;
    if (target.classList.contains("button")) next(target);
};
document.addEventListener("keydown", keyDown, false);


    
  
</script>


{% endblock %}
